<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org">
<suite name="Suite" thread-count="5" parallel="tests" >
  <test name="TestChrome" thread-count="5" parallel="methods" >
    <parameter name="browserName" value="chrome"/>
    <classes>
      <class name="tests.demoTest">
        <methods>
          <include name="test1"/>
          <include name="test3"/>
        </methods>
      </class>
    </classes>
  </test>

  <test name="TestEdge" thread-count="5" parallel="methods" >
    <parameter name="browserName" value="edge"/>
    <classes>
      <class name="tests.demoTest">
        <methods>
          <include name="test2"/>
          <include name="test4"/>
        </methods>
      </class>
    </classes>
  </test>
</suite>
